/* Style for YOUR OUR NATURE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: auto;
  background-image: url(\woods-3.jpg);
  background-size: cover;
  color: #fff;
  
}

#menu {
  display: block;
  position: fixed;
  width: 82rem;
  height: 13.5rem;
  margin: -1rem 1rem 1rem 1rem;
  background: rgba(66, 77, 111, 0.4);
  border-radius: 5px;
  z-index: 1;
  
}

nav {
  background: rgba(66, 77, 111, 0.4);
  border-radius: 5px;
  }

.navigation ul li{
  display: inline-block;
  width: 8rem;
  height: 3rem;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  background-color: rgba(18, 231, 103, 0.5);
  border-radius: 5px;
  font-family: sans-serif;
  color: #000;
  font-size: medium;
  font-weight: 600;
  
  
  
}

.sec-menu {
  display: block;
  width: 11rem;
  background: rgba(66, 77, 111, 0.4);
  padding: 0.5rem;
  border-radius: 0 0 5px 5px;
}

.menu-position {
  display: block;
}

.menu-position ul li {
  display: grid;
  grid-template-columns: auto;
  width: 8rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgba(18, 231, 103, 0.5);
  list-style-type: none;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #000;
  border-radius: 5px;
  
}

header {
  display: block;
  font-size: 34px;
  color: #000;
  margin: -7.5rem 2rem 0 13rem;
  padding: 0.5rem;
  text-align: center;
  background: rgba(66, 77, 111, 0.4);
  
  border-radius: 5px;
  box-shadow: 1px 3px 3px 1px green;
}
h1 {
  text-shadow: 3px 3px rgba(18, 231, 103, 0.8);
}

h2 {
  color: #000;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 900;
}

p2 {
  text-align: justify;
  margin-left: 1rem;
  top: 23rem;
}

main {
  display: block;
  position: relative;
  top: 18rem;
  height: 450px;
  width: 82rem;
  margin: 2rem 1rem 2rem 1rem;
  background: rgba(66, 77, 111, 0.4);
  border-radius: 5px;
  color: #000;
  
}

aside {
  display: block;
  position: relative;
  width: 70%;
  height: 72.5rem;
  top: 18rem;
  margin: 10px 10px 10px 10px;
  background: rgba(66, 77, 111, 0.4);
  border-radius: 5px;
}

section {
  display: block;
  position: relative;
  top: -55rem;
  left: 60rem;
  width: 25%;
  height: auto;
  background: rgba(66, 77, 111, 0.4);
  border-radius: 5px;
}

footer {
  display: block;
  width: 82rem;
  height: 18rem;
  position: relative;
  top: -23rem;
  margin: 1rem 1rem 1rem 1rem;
  background: rgba(66, 77, 111, 0.4);
  border-radius: 5px;
}

.main-bfryougo {
  display: block;
  position: relative;
  top: 10px;
  width: 63rem;
  margin: 1rem 10rem 1rem 10rem;
  padding: 2rem 2rem 2rem 2rem;
  list-style: none;
  background: rgba(238, 13, 5, 0.4);
  border-radius: 5px;
  text-align: center;
  
}

.main-instructoins {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
  grid-gap: 10px;
  position: relative;
  top: 10px;
  height: 300px;
  width: 79rem;
  margin: 7px 7px 7px 7px;
  padding: 7px 7px 7px 7px;
  background: rgba(238, 13, 5, 0.4);
  border-radius: 5px;
}

.aside-img {
  float: right;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
}

.aside-img:hover {
  border: 0.1rem solid #fff;
  
}

.aside-advice {
  display: block;
  position: relative;
  margin: 1rem 1rem 1rem 1rem;
  top: 10px;
  line-height: 34px;
}

.section-place {
  display: block;
  position: relative;
  top: 10px;
  padding: 7px;
  line-height: 34px;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  position: relative;
  width: 53rem;
  height: 13rem;
  margin: 1rem 1rem 1rem 1rem;
  
  border-radius: 5px;
  }

  .ft-col-1 {
    margin: 1rem 1rem 1rem 1rem;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px solid gold;
    list-style: none;
  }

  .ft-col-2 {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;

  }

  .ft-col-3 {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
  }
