/*HTML created by samuel Servantes*/
/*Study intensions: Html, Css, java, javascript*/
/*-------GRID CONTAINER WITH ITEM-------------------*/



.item1 {
    grid-area: myArea;
}

.grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    grid-gap: 10px;
    background-color: rgb(1, 128, 128);
    padding: 10px;
}

    .grid-container > div {
        background-color: rgb(128, 128, 128);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }